@import play.i18n._

@main(Messages.get("panel_title")) {

	<ul>
		<li><a href="@routes.Application.logout()">@Messages.get("panel_logout")</a></li>
		<li><a href="@routes.Application.documents()">@Messages.get("panel_documents")</a></li>
		<li><a href="@routes.Application.changeData()">@Messages.get("panel_change_data")</a></li>
		<li><a href="@routes.Application.searchObservations()">@Messages.get("panel_search_observations")</a></li>
		<li><a href="@routes.Application.compareObservation()">@Messages.get("panel_compare_observations")</a></li>
	</ul>

}