@(title: String)(content: Html)
@import play.i18n._

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/home.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="http://d3js.org/d3.v3.min.js"></script>
    </head>
    <body>
    	<div class="wrapper">
        	@content
        </div>
        
        <div class="footer">
        	<div class="wrapper">
				<img class="uniovi" src="@routes.Assets.at("images/uniovi.png")" alt="Universidad de Oviedo"/>
				<a class="github" href="https://github.com/Arquisoft/ObservaTerra12" alt="index"><img src="@routes.Assets.at("images/social/github.png")" alt="GitHub"/></a>
				<a href="/" alt="index"><img src="@routes.Assets.at("images/social/twitter.png")" alt="Twitter"/></a>
        	</div>
        </div>
    </body>
</html>